body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#title {
    position: relative;
    top: 150px;
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    margin: auto;
}

#subtitle {
    position: relative;
    top: 150px;
}

#container1 {
    position: relative;
    top: 200px;
}

#shuffledword {
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    text-transform: uppercase;
}

#form-container {
    margin-top: 30px;
}

#message-container {
    margin-top: 30px;
    font-size: 24px;
}